/*allgemein*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*spezifisch*/

.header {
    padding: 48px 20px;
    text-align: center;
    background-color: aqua;
}

.main {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
}