/*allgemein*/

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(252, 184, 212, 0.733);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(25, 31, 31);
}

/*spezifisch*/

.header {
    padding: 48px 20px;
    text-align: center;
    background-color: rgb(182, 248, 248);
    border-bottom: 3px #000 solid;
}

.main {
    padding: 22px;
    max-width: 800px;
    margin: 0 auto;
    background-color: cornsilk;
    border-left: 2px solid #000;
     border-right: 2px solid #000;
}

/*pseudo-klassen meine lösung*/

a:link {
    color:rgb(68, 0, 255);
}

a:visited {
    color:rgb(141, 26, 199);
}

a:hover {
    background-color: rgb(51, 255, 0);
}

a:active {
    background-color:gold;
}

.navlinks a {
    margin: 10px;
    background-color: rgb(239, 240, 231);
    padding: 4px
}

article + article {
    border-top: solid 2px;
}

.main > article {
    margin-top: 40px;
}

.main > article:first-child {
    margin-top: 0px;
}

/*pseudo klassen nicos lösung*/
/*
.nav-link {
  padding: 4px 8px;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

.nav-link:active {
  color: white;
  background-color: grey;
}

.nav-link + .nav-link {
  margin-left: 16px;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid grey;
}

.main > *:first-child {
  border-top: none;
}
*/