/*allgemein*/

*, *:before, *:after {
    box-sizing: border-box;
}

html {
  font-family: inherit;
  font-size: 18px;
}

body {
    margin: 0;
    background-color: rgba(252, 184, 212, 0.733);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-family: 'Heebo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-family: 'Heebo', sans-serif;
    color:rgb(25, 31, 31);
}


/*spezifisch*/

.header {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: rgb(182, 248, 248);
    border-bottom: 0.2rem #000 solid;
}

.main {
    padding: 22px 35px;
    max-width: 70ch;
    margin: 0 auto;
    background-color: cornsilk;
    border-left: 0.2rem solid #000;
    border-right: 0.2rem solid #000;

}

.heading-group {
  font-size: 1.25rem;
}


/*pseudo-klassen und klassen meine lösung*/

a:link {
    color:rgb(68, 0, 255);
}

a:visited {
    color:rgb(141, 26, 199);
}

a:hover {
    background-color: rgb(144, 255, 116);
}

a:active {
    background-color:gold;
}


.navlinks {
    margin: 0.7rem;
    background-color: rgb(239, 240, 231);
    padding: 0.65rem;
    border: solid; 
    border-color: black;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    margin-top: 0.25rem;
  
}

article + article {
    border-top: solid 0.125rem;
}
 
.main > article {
    margin-top: 2.5rem;
}

.main > article:first-child {
    margin-top: 0;
}

.erfahrungen-titel {
  display: inline-block;
}

.erfahrungen-subtitel {
  display: inline-block;
}

.hire-badge {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: rgba(252, 184, 212, 0.733);
  padding: 0.8rem;
  border: solid black;
  border-radius: 0.4rem;
  color: #000;
  font-size: 1.25rem;
 
}

.beruf {
  margin-bottom: 2.75rem;
}

.article-heading {
  position: relative;
  left: -0.8rem;
}

/*
-----------------pseudo klassen nicos lösung--------------*/
/*
.nav-link {
  padding: 4px 8px;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

.nav-link:active {
  color: white;
  background-color: grey;
}

.nav-link + .nav-link {
  margin-left: 16px;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid grey;
}

.main > *:first-child {
  border-top: none;
}
*/

.beruf::after { content:'🤩';}

.hire-badge::after { content: ' 🙂 ';}

*::selection { background-color: rgb(160, 101, 214); color:ivory;}

/* --------------media query und breakpoint
*/

@media print {
  .hire-badge {
    display: none;
  }

  .head-navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

/*~~~ ______LIchen, FRAG MAL JEMANDEN WO HIER DER FAIL IST_________

@media screen and (min-width: 768px) {
  main > *+* {
  margin-top: 35rem;}
}
______~~~*/

@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
}  

@media screen and (min-width: 992px) {
  .hire-badge {
    position: fixed;
  }
}